@import '../../assets/tools.scss';

.p-day_of {
	@include max-width;

	text-align: center;

	padding: 0;
	padding-top: $spacing_100;
}

.p-day_of--info {
	display: flex;
	padding: 0 20px;
}

.p-day_of--announcements {
	box-sizing: border-box;
	min-height: 100%;
	margin-right: $spacing_100;
}

.p-day_of--announcements_holder {
	height: 300px;
	overflow-y: auto;

	padding-left: $spacing_100;
	padding-right: $spacing_100;
}

.p-day_of--announcement {
	text-align: left;
	margin: $spacing_100 0;
}

.p-day_of--links {
	min-height: 100%;
}

.p-day_of--hammers {
	margin: $spacing_200;
	height: 200px;
}

@media (max-width: 720px) {
	.p-day_of {
		padding-top: 0;
	}

  .p-day_of--info {
    display: initial;
  }

  .p-day_of--announcements {
      margin-bottom: $spacing_100;
			margin-right: 0;
			padding-left: $spacing_100;
			padding-right: $spacing_100;
  }

	.p-day_of--links {
		padding-left: $spacing_100;
		padding-right: $spacing_100;
	}
}
