@import '../../assets/tools.scss';

.p-application {
  @include max-width;
  &:after {
    @include dark-header;
  }
}

.p-application_title {
    padding-top: 0px;
}

.p-application__form {
  max-width: 425px;
  margin: $spacing_200 auto;
  font-family: 'Lato';
  font-size: 15px;
  color: #5E5E5E;
  background-color: white;
}

.p-application_label {
    font-size: 21px;
    font-weight: normal;
    color: black;
    margin-top: 16px;
}

.p-application__form h1 {
  margin-top: 0;
}

.p-application__form h2 {
  margin-top: $spacing_150;
}
.p-application__form_label {
  margin-top: $spacing_100;
  margin-bottom: $spacing_50;
  font-size: 17px;
}

.p-application_resume_upload {
  margin-top: $spacing_100;
}

.c-application__field_note {
  text-align: right;
  margin-top: -$spacing_50;
  font-size: 12px;
}
.p-application__form_tanc {
  margin-top: $spacing_100;
}

.p-application__form a {
  color: $dark_blue;
}

.p-application__status_card {
  margin: auto;
  margin-top: $spacing_200;
  max-width: 500px;
  background: $light_green;
  text-align: center;
}

.p-application__status_card a {
  color: $dark_mono;
  text-decoration: underline;
}
