@import '../../assets/tools.scss';

.p-application {
  background: #FAFAFA;
  padding: $spacing_200 0;
  &:after {
    @include dark-header;
  }
}

.p-application_title {
    padding-top: 0px;
}

.p-application__form {
  max-width: 425px;
  margin: 0 auto;
  font-family: 'Lato';
  font-size: 15px;
  color: #5E5E5E;
  background-color: white;
}

.p-application_label {
    font-size: 21px;
    font-weight: normal;
    color: black;
    margin-top: 16px;
}

.p-application__form h1 {
  margin-top: 0;
}

.p-application__form h2 {
  margin-top: $spacing_150;
}
.p-application__form_label {
  margin-top: $spacing_100;
  margin-bottom: $spacing_50;
  font-size: 17px;
}

.p-application_resume_upload {
  margin-top: $spacing_100;
}

.c-application__field_note {
  text-align: right;
  margin-top: -$spacing_50;
  font-size: 12px;
}
.c-application__validation_note {
  text-align: left;
  font-size: 12px;
  margin-top: $spacing_50;
  color: #F7883F;
}
.p-application__form_tanc {
  margin-top: $spacing_100;
}

.p-application__form a {
  color: $dark_blue;
}

.p-application__status_card {
  margin: auto;
  margin-bottom: $spacing_200;
  max-width: 500px;
  background: $light_green;
  text-align: center;
}

.p-application__status_card a {
  color: $dark_mono;
  text-decoration: underline;
}

.p-decision {
  margin-bottom: $spacing_100;
}

.p-decision__status {
  text-align: center;
  margin-bottom: $spacing_200;
}
.p-decision__notes {
  max-width: 700px;
  margin: auto;
  text-align: left;
  line-height: 1.6em;
}
.p-application-toggle__button {
	display: inline-flex;
	margin-right: $spacing_100
}
.p-transit_method {
  margin-bottom: $spacing_200;
}
.p-transit_method__description {
  max-width: 700px;
  margin: auto;
}
.p-rsvp_toggle {
  margin-bottom: $spacing_200;
}
.p-decision__rsvp_yes {
  max-width: 700px;
  margin: auto;
}
.p-decision__rsvp_no {
  max-width: 700px;
  margin: auto;
  text-align: center;
}
.p-decision__rsvp_yes_form .p-application_select {
  margin-top: $spacing_50;
  margin-bottom: $spacing_100;
}
.p-decision__rsvp_yes_form .c_button {
  margin-top: 0;
}
