@import '../../assets/tools.scss';

.p-bm6_grabber {
  position: relative;
  background: $light_mono;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 600px;
}
.p-bm6_grabber__content--flex_wrapper{
  width: 100%;
}
.p-bm6_grabber__content {
  @include max-width;
  flex: 0 0 auto;
  object-fit: scale-down;
  // margin-top: -50px;
}
.p-bm6_grabber__content_topic {
  font-size: 32px;
}
.p-bm6_grabber__content_boilermake {
  font-size: 52px;
  font-weight: bold;
  margin-top: $spacing_75;
}
.p-bm6_grabber__content_location {
  font-size: 18px;
  margin-top: $spacing_75;
  color: lighten($dark_mono, 10%);
}

.p-bm6_grabber__background {
  width: 500px;
  position: absolute;
  bottom: 0;
  z-index: 0;
  right: 100px;
}
.p-bm6_grabber__right_tower {
  width: 130px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 130px;
}
.p-bm6_grabber__back_cloud {
  width: calc(100% + 80px);
  position: absolute;
  bottom: 0;
  z-index: 2;
  animation-name: back_cloud;
  animation-duration: 20s;
  animation-iteration-count:infinite;
}
.p-bm6_grabber__left_tower {
  width: 120px;
  position: absolute;
  bottom: 0;
  right: 450px;
  z-index: 3;
}
.p-bm6_grabber__back_car {
  width: 200px;
  position: absolute;
  bottom: 350px;
  right: 250px;
  z-index: 4;
}
.p-bm6_grabber__back_car {
  width: 150px;
  position: absolute;
  bottom: 65%;
  z-index: 3;
  animation-name: back_car;
  animation-duration: 15s;
  animation-iteration-count:infinite;
}
.p-bm6_grabber__middle_cloud {
  width: calc(100% + 80px);
  position: absolute;
  bottom: 0;
  z-index: 4;
  animation-name: middle_cloud;
  animation-duration: 15s;
  animation-iteration-count:infinite;
}
.p-bm6_grabber__middle_tower {
  width: 150px;
  position: absolute;
  bottom: 0;
  z-index: 5;
  right: 250px;
}
.p-bm6_grabber__front_cloud {
  width: 100%;
  position: absolute;
  bottom: -2px;
  z-index: 6;
}
.p-bm6_grabber__front_car {
  width: 200px;
  position: absolute;
  bottom: 25%;
  z-index: 7;
  animation-name: front_car;
  animation-duration: 15s;
  animation-iteration-count:infinite;
}

@media (max-width: 1050px) {
  .p-bm6_grabber {
    display: block;
    padding-top: $spacing_200;
  }
  .p-bm6_grabber__content {
  }
  .p-bm6_grabber__content_action {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 850px) {
  .p-bm6_grabber {
    display: flex;
    text-align: center;
    min-height: 0px;
    height: 500px;
  }
  .p-bm6_grabber__content_action .c_button {
    display: initial;
  }
  .p-bm6_grabber__content {
    // margin-top: 0;
  }
  .p-bm6_grabber__background {
    width: 300px;
    display: none;
  }
  .p-bm6_grabber__right_tower {
    width: 75px;
    display: none;

  }
  .p-bm6_grabber__left_tower {
    width: 75px;
    position: absolute;
    bottom: 0;
    right: 250px;
    z-index: 3;
    display: none;

  }
  .p-bm6_grabber__back_car {
    width: 200px;
    position: absolute;
    bottom: 350px;
    right: 250px;
    z-index: 4;
    display: none;

  }
  .p-bm6_grabber__back_car {
    width: 200px;
    position: absolute;
    bottom: 25%;
    z-index: 7;
    right: 150px;
    display: none;

  }
  .p-bm6_grabber__middle_tower {
    width: 100px;
    position: absolute;
    bottom: 0;
    z-index: 5;
    right: 130px;
    display: none;

  }
  .p-bm6_grabber__front_car {
    width: 200px;
    position: absolute;
    bottom: 25%;
    z-index: 7;
    right: 150px;
    display: none;

  }
}
@media (max-width: 450px) {
  .p-bm6_grabber__content_topic {
    font-size: 26px;
  }
  .p-bm6_grabber__content_boilermake {
    font-size: 34px;
  }
  .p-bm6_grabber__content_location {
    font-size: 14px;
  }
}

@keyframes back_cloud {
    0% {left: -40px;}
    50% {left: -5px}
    100% {left: -40px;}
}
@keyframes middle_cloud {
    0% {left: -5px;}
    50% {left: -40px}
    100% {left: -5px;}
}
@keyframes front_car {
    0% {left: -100px;}
    100% {left: 150%;}
}
@keyframes back_car {
    0% {right: -400px;}
    100% {right: 150%;}
}
