@import '../../assets/tools.scss';

.p-bm6_grabber {
  position: relative;
  background: $light_mono;
  width: 100%;
  // box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.p-bm6_grabber__content {
  @include max-width;
  display: flex;
  justify-content: center;
}

.p-bm6_grabber__content_words--wrapper {
  display: flex;
  align-items: center;
  margin-top: -50px;
}

.p-bm6_grabber__content_words--wrapper h1 {
  margin: 0;
  font-size: 60px;
}

.p-bm6_grabber__content_words--wrapper h2 {
  margin: $spacing_50 0;
}

.p-bm6_grabber__content_words {
    display: block;
}

.p-bm6_grabber__clouds {
  width: 100%;
  height: 200px;
  background: red;
  background: url('../../assets/images/SVG/clouds.svg');
  background-repeat: repeat-x;
  // background-size: 50%;
  position: absolute;
  bottom: -5px;
  background-position: bottom center;
}

@media (max-width: 780px) {
  .p-bm6_grabber__content {
    display: block;
  }
  .p-bm6_grabber__content_words--wrapper {
      width: 100%;
      margin-top: 0;
  }
  .p-bm6_grabber__content_words {
    margin-top: $spacing_200;
  }
  .p-bm6_grabber_illustration {
    width: 50% !important;
    margin: auto;
  }
  .p-bm6_grabber__clouds {
    background-size: 200%;
  }
}
