.p-mail_chimp_signup {
  background: #F7F7FA;
  padding: 12px 0;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}
.p-mail_chimp_signup__group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-mail_chimp_signup__label {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: normal;
}
.p-mail_chimp_signup__input {
  margin: 0 4px;
  border: none;
}
