@import '../../assets/tools.scss';

.p-landing_sponsors {
  @include max-width;
  text-align: center;
}
.p-landing_sponsors__sponsors {
  padding: $spacing_200 !important;
}
.p-landing_sponsors__top {
  text-align: center;
}
.p-landing_sponsors__top img {
  width: 50%;
}
.p-landing_sponsors__medium {
  align-items: center;
  margin-top: $spacing_200;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.p-landing_sponsors__medium img {
  flex-basis: 250px;
  height: auto;
  margin: 0 $spacing_200;
  margin-top: $spacing_200;
  font-size: 250%;
}
.p-landing_sponsors__medium--mongo {
  margin-top: -$spacing_50 !important;
}
.p-landing_sponsors__partners {
  margin-top: $spacing_200;
  text-align: center;
}
.p-landing_sponsors__partners img {
  width: 25%;
  margin-top: $spacing_200;
}
.p-landing_sponsors__partners h3 {
  margin-top: 0;
  color: $medium_mono;
}

@media (max-width: 540px) {
  .p-landing_sponsors__top img {
    width: 85%;
  }
  .p-landing_sponsors__medium img {
    width: 50%;
  }
  .p-landing_sponsors__partners img {
    width: 50%;
  }
}
@media (max-width: 770px) {
  .p-landing_sponsors__medium--mongo {
    margin-top: $spacing_200 !important;
  }
  .p-landing_sponsors__medium {
    margin-top: 0;
  }
}
