/* custom navbar*/
$navbar-background: #293449;
.navbar-custom {
  background-color: #8ad0ff;
  border: 0 !important;
  border-radius: 0 !important;
}

.navbar-custom .navbar-nav > li > a {
  color: $navbar-background;
  padding-left: 20px;
  padding-right: 20px; }

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .active > li.active {
  color: white;
  background-color: transparent; }

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: $navbar-background;
  color:white;}

.navbar-custom .navbar-brand {
  color: $navbar-background; }

.navbar-custom .navbar-toggle {
  background-color: white; }

.navbar-custom .icon-bar {
  background-color: white; }

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  background-color: $navbar-background;
  color:white; }
