.announcements {
  margin: auto;

  .header {
    font-family: 'Moon';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
  }
}
.announcements-container {
  height: 400px;
  overflow-y:scroll;
  border: 2px solid $pink;
  border-radius: 4px;
  text-align: center;

  .announcement {
    padding: 12px;

    .capitalize {
      text-transform: capitalize;
    }
  }

  .announcement:nth-child(odd) {
    background: #F7F7F7;
    border-bottom: 1px solid #EFEFEF;
  }
}
