.app-heading {
  text-align: right;
  color: $pink;
  padding: 30px 0;
}
.application {
  background: $white;
  .text-input {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    border: 2px solid $lightGray;
    margin-top: 8px;
    font-size: 14px;

    &:focus {
      border: 2px solid $darkBlue;
    }

    &:disabled {
      color: $lightGray;
    }
  }

  .application-button {
    width: 100%;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 2px solid $lightGray;
    border-radius: 8px;
    font-family: $font-body;
    margin-top: 8px;
    font-size: 14px;
    outline: none;

    &:active {
      border: 2px solid $darkBlue;
    }
  }

  .dropdown {
    /* styling */
    background-color: white;
    border: 2px solid $lightGray;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 12px 9px;
    width: 100%;
    margin-top: 8px;

    /* reset */

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;

    &:focus {
      background-image:
      linear-gradient(45deg, $darkBlue 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, $darkBlue 50%),
      linear-gradient(to right, #ccc, #ccc);
      background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
      background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
      background-repeat: no-repeat;
      border-color: $darkBlue;
      outline: 0;
    }
  }

  .submit {
      outline: none;
      border: 2px solid $pink;
      border-radius: 8px;
      padding: 9px 12px;
      background: $pink;
      color: #fff;
      font-family: $font-body;
      cursor: pointer;
      font-size: 14px;
      transition: .2s;

      &:hover {
        transform: translateY(-2px);
        transition: .2s;
        // background: $pink;
        // color: #fff;
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      }
  }

  .row {
    margin-bottom: 32px;
  }

  .opt-out-button {
    width: 100%;
    outline: none;
    border: 2px solid $lightGray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
    background: #fff;
    border-top: none;
    font-family: $font-body;
    cursor: pointer;
    color: $lightGray;

    &:hover {
      color: $darkBlue;
    }
  }
  .opt-in-button {
    width: 100%;
    outline: none;
    border: 2px solid $pink;
    border-radius: 8px;
    padding: 8px;
    color: $pink;
    background: #fff;
    font-family: $font-body;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8px;
  }
}

.Select-control {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
  border: 2px solid $lightGray;
  margin-top: 8px;

  input:active {
    border: none;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 8px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $lightGray;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #F3027E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .col-6 {
    width: 100%;

    &:first-child {
      padding-right: 0px;

      input {
        margin-bottom: 16px;
      }
    }
    &:last-child {
      padding-left: 0px;
    }
  }
}
