@import "vars";
.footer {
  // border-top: 1px solid $darkBlue;
  flex-shrink: 0;
  color: $pink;
  text-align: center;
  background: $lightGray;
  box-shadow: 0px 500px 0px 500px #EFEFEF;

  p {
    font-size: 15px;
    font-family: $font-body;
    font-weight: bold;
  }
}
.flex-con {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    height: 26px;
    margin: 10px;
    fill: $pink;
  }
  svg:hover {
    fill: $lightPink;
  }
}
.footer {
  padding: 0 20px 50px 20px;
}

.icon {
  fill: green;
}
