@import "vars";
.footer {
  font-family: $font-body;
  color: $pink;
  text-align: center;
  p {
    font-size: 15px;
  }
}
.flex-con {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 26px;
    padding: 10px;
  }
}
.footer {
  padding: 50px 20px;
}
