@import "vars";

.authFormNoBackground {
  color: $white;
  padding: 20px 0 50px 0;
  text-align: center;
  a {
    color: $white;
    text-decoration: none;
    padding: 5px 0;
  }
  a:hover {
    color: $lightBlue;
  }
  .back-line {
    line-height: 0.5;
    font-family: $font-title;
    position: relative;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;

  }
  .back-line span {
    display: inline-block;
    position: relative;
  }
  .back-line span:before,
  .back-line span:after {
    content: "";
    position: absolute;
    border-top: 2px solid #dfdfdf;
    top: 50%;
    width: 85px;
  }
  .back-line span:before {
    right: 100%;
    margin-right: 15px;
  }
  .back-line span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.authForm {
  @extend .authFormNoBackground;
  background-color: $darkBlue;
}

.form {
  text-align: left;
  padding: 20px;
  max-width: 320px;
  margin: 0 auto;
  label {
    color: inherit;
    margin-top: 20px;
  }
  input {
    font-family: $font-body;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 14px;
    border: none;
  }
  .btn {
    padding: 15px 0px;
    width: 100%;
  }
}
.github-button {
  background: #FFFFFF;
  color: $darkBlue;
  padding: 15px 20px;
    margin-bottom: 16px;
  border-radius: 4px;
  cursor: pointer;
  border-bottom: 2px solid #969696;

  &:active {
    border-bottom: none;
    border-top: 2px solid #969696;
  }
}
