@import "vars";

.login {
  color: $white;
  padding: 20px 0 50px 0;
  text-align: center;
  background-color: $darkBlue;
  a {
    color: $white;
    text-decoration: none;
    padding: 5px 0;
  }
  a:hover {
    color: $lightBlue;
  }
}
.form {
  text-align: left;
  padding: 20px;
  max-width: 320px;
  margin: 0 auto;
  label {
    color: inherit;
    margin-top: 20px;
  }
  input {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 14px;
    border: none;
  }
  .btn {
    padding: 15px 0px;
    width: 100%;
  }
}
.github-button {
  background: #FFFFFF;
  color: $darkBlue;
  padding: 9px 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  cursor: pointer;
  border-bottom: 2px solid #969696;

  &:active {
    border-bottom: none;
    border-top: 2px solid #969696;
  }
}
