@import 'vars';

.landing {
  position: relative;
}
.landing-copy {
  text-align: left;
  margin-top: 50%;
}

.landing-logo {
  max-width: 400px;
}
.interestForm {
  font-size: 20px;
  display: block;
  margin-top: 40px;
  button {
    margin-left: -1px;
    display: inline;
    font-size: inherit;
    color: $white;
    font-family: $font-title;
    font-weight: bold;
    background: $pink;
    border-radius: 0 50px 50px 0;
    border: 1px solid $pink;
    border-bottom-width: 1px;
    border-top-width: 2px;
  }
  button:focus {
    outline: none;
  }
  input {
    border: 1px solid $lightBlue;
    font-size: inherit;
    font-family: $font-body;
    border-radius: 50px 0 0 50px;
    background: white;
    width: 50%;
  }
  input:focus, input:active, input:hover {
    outline: none;
    box-shadow: 0px 0px 40px -8px $lightBlue;
  }
  input, button {
    padding: 20px;
  }

}

@media screen and (max-width: 1080px) {
  .flexCon {
    display: block;
    .flexchild {
      padding: 0 20%;
      img {
        padding: 0;
        max-width: 319px;
      }
    }
  }
  .con {

  }
}

@media screen and (max-width: 620px) {
  .flexCon {
    .flexchild {
      padding: 0 20px;
    }
  }
}
@media screen and (max-width:410px) {
  .flexCon {
    .flexchild {
      p, button, input {
        font-size: 13px;
      }
      h1 {
        font-size: 45px;
      }

    }
  }
}
@media screen and (max-width:380px) {
  .flexCon {
    .flexchild {
      img {
        max-width: 280px;
      }
    }
  }
}

.animation {

  background: rgba(25,42,80,1);
  background: -moz-linear-gradient(top, rgba(25,42,80,1) 0%, rgba(173,32,119,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,42,80,1)), color-stop(100%, rgba(173,32,119,1)));
  background: -webkit-linear-gradient(top, rgba(25,42,80,1) 0%, rgba(173,32,119,1) 100%);
  background: -o-linear-gradient(top, rgba(25,42,80,1) 0%, rgba(173,32,119,1) 100%);
  background: -ms-linear-gradient(top, rgba(25,42,80,1) 0%, rgba(173,32,119,1) 100%);
  background: linear-gradient(to bottom, rgba(25,42,80,1) 0%, rgba(173,32,119,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192a50', endColorstr='#ad2077', GradientType=0 );
  height: 90vh;
  width: 100%;
  .sign {
    position: absolute;
    z-index: 0;
  }
  .pillars {
    position: absolute;
    z-index: 1;
    top: 150px;
  }
}
