.live-wrapper {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
}
.quick-links {
  width: 200px;
  float: left;
  padding-top: 20px;
  text-align: center;

  .header {
    font-family: 'Moon';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .link {
    font-family: 'Moon';
    width: 100%;
    border-radius: 4px;
    background: $darkBlue;
    padding: 12px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    margin-top: 12px;
  }
}
.main-content {
  float: right;
  width: calc(100% - 200px);
  padding: 20px;
  box-sizing: border-box;
}

.graybg {
  padding: 20px 0;
  border-top: 1px solid #1A2A50;
}
