@import "vars";

.navContainer {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 100;
}

.hammers {
  width: 40px;
  height: auto;
}

.navLinks {
  margin-left: auto;
  // Button and bars for hamburgerMenu
  button {
    background: none;
    border: none;

    .hamburgerMenuBar {
      display: block;
      height: 2px;
      width: 22px;
      border-radius: 1px;
      background-color: #fff;
    }

    .hamburgerMenuBar:not(:first-child) {
      margin-top: 5px;
    }
  }
}

.navLink {
  margin: 0 10px;
	font-family: Futura;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4px;
  text-decoration: none;
	color: #fff;
}

.hamburgerMenu {
  flex-basis: calc(100%);
  background: #333;
  width: 100%;

  .navLink {
    margin: 0;
  }

  ul {
    line-height: 200%;
    list-style: none;
    padding-left: 0;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 820px) {
  .navContainer {
  }
}

@media screen and (max-width: 691px) {
  .navContainer {
  }
}

// Mobile media query (show hamburger menu)
@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .navContainer {
  }
}
