@import "vars";

.navContainer {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 100;
}

.hammers {
  width: 40px;
  height: auto;
}

.navLinks {
  margin-left: auto;
}

.navLink {
  margin: 0 10px;
	font-family: Futura;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4px;
  text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 600px) {
  .navContainer {
    white-space: nowrap;
    overflow: hidden;
  }

  .navLinks {
    overflow-scrolling: touch;
  }
}
