@import "vars";

.navContainer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 140px;
  padding-right: 140px;
  box-sizing: border-box;
}

.navLogo {
  display: inline-block;
}

.hammers {
  width: 40px;
  height: auto;
}

.navLinks {
  float: right;
  position: relative;
  transform: translateY(50%);

  // Button and bars for hamburgerMenu
  button {
    background: none;
    border: none;

    .bar {
      display: block;
      height: 2px;
      width: 22px;
      border-radius: 1px;
      background-color: #000; // TODO: set this to #fff when body is no longer white
    }

    .bar:not(:first-child) {
      margin-top: 5px;
    }
  }
}

.navLink {
  width: 72px;
	height: 25px;
  margin: 0 10px;
	font-family: Futura;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4px;
  text-decoration: none;
	color: #000; // TODO: set this to #fff when body is no longer white
}

.hamburgerMenu {
  .navLink {
    margin: 0;
  }

  ul {
    line-height: 200%;
    list-style: none;
    padding-left: 0;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 820px) {
  .navContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 691px) {
  .navContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

// Mobile media query (show hamburger menu)
@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

/*
@import "vars";

.navContainer {
  width: 100%;
  padding: 20px;
  // border-bottom: 1px solid #DBE1E8;
  font-family: $font-title;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  .btn {
    float: right;
    margin-top: -10px;
  }
}
.navBar {
  display: inline;
  font-family: $font-title;
  font-weight: bold;
  padding: 10px 0px;
  color: $darkBlue;
  button {
    background: none;
    padding: 10px;
    border:2px solid $darkBlue;
    border-radius: 3px;
    .bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: $darkBlue;
    }
    .bar:not(:first-child) {
      margin-top: 4px;
    }
  }
}
.navLink {
  text-decoration: none;
  color: inherit;
  padding: 7px 0px;
  margin: 0 25px;
}
.navLink:last-child {
  margin-right: 0;
}
.hover:hover {
  padding-bottom: 5px;
  box-shadow: 0 4px 2px -2px $lightBlue;
}
.navLink:hover, .navLink:active, .navLink:focus {
  text-decoration: none;
  color: inherit;
}
.menu {
  display: none;
  padding-top: 20px;
  .navLink {
    font-weight: bold;
    display: block;
    margin-left: 51px;
    padding: 13px 0;
  }
}

.navLeft {
  padding: 20px 0px;
  background: $white;
  height: 100%;
  border-right: solid .1px $lightBlue;
  font-family: $font-title;
  position: absolute;
  left: 0;
  top: 0;
  img {
    display: block;
    margin: 0 auto;
  }
  p {
    margin-top: 55px;
    margin-left: 1px;
  }
  .social-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .icon {
      max-width: 30px;
    }
    .icon::after {
      content: "";
    }
  }
  @media (max-width: 1080px) {
    display: none;
  }
}

.hammers {
  max-width: 20px;
  margin: 0 10px -2px 0;
}

.navLogo {
  text-decoration: none;
  display: inline;
  padding: 7px 0px;
  margin: 0 10px;
  .logo {
    font-weight: bold;
    margin: 0px 10px;
    text-decoration: none;
  }
}

.rotate-text {
  transform: rotate(90deg);
}

.mobile {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
}
@media screen and (max-width: 820px) {
  .navBar {
    .navLink {
      margin: 0 20px;
    }
  }
}
@media screen and (max-width: 691px) {
  .navBar {
    .btn {
      margin-left: none;
    }
    .navLink {
      margin: 0 12px;
    }
  }
}
@media screen and (max-width: 600px) {
  .navContainer {
    .btn {
      float: none;
      margin-left: 50px;
      margin-top: 40px;
    }
  }
  .navBar {
    margin-left: 50px;
    .navLink {
      margin: 10px;
    }
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .menu {
    display: block;
  }
}
*/
