@import "vars";

.header {
  position: relative;
  margin-top: -95px;
  top: 0;
  background-repeat: no-repeat;

  .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7;
    z-index: 0;
  }

  .headerContent {
    padding: 200px 0;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff;

    h1 {
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 4px;
      margin: 10px 0;
      text-shadow: 0 0 10px rgba(0,0,0,0.2);
      font-size: 60px;
    }

    h2 {
      margin: 10px 0;
      text-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
  }
}
@mixin dark-header {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0;
  background: #333333;
  z-index: -1;
  box-shadow: 0 0px 20px rgba(0,0,0,0.3);
}
.card {
  width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.12);
  transition: .1s;
  background: #ffffff;
  line-height: 1.6em;
  border-radius: 8px;
  box-sizing: border-box;

  &.orange-shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
}
a button {text-decoration: none;}
button {
  padding: 9px 12px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  display: block;
  border: none;
  font-family: $font-body;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
  text-decoration: none;

  &:hover {
    transform: translateY(-1px);
    transition: .1s;
    cursor: pointer;
  }
}
