@import "vars";

.faq {
  max-width: 320px;
  .logo {
    max-width: 158px;
    position: absolute;
    z-index: -1;
    margin-top: 0px;
    margin-left: -193px;
  }
  h1 {
    margin-bottom: 0;
  }
  span {
    color: $darkBlue;
  }
  p {
    font-size: 16px;
    color: $darkGray;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 4px;
  }
  .darkBlue {
    color: $gray;
  }
  .link {
    text-decoration: underline;
    cursor: pointer;
  }
  .outline {
    background: $white;
    width: 100%;
    padding: 15px 20px;
    margin-top: 8px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    border: 2px solid $gray;
  }
  .faq-question {
    font-weight: 400;
    color: $darkBlue;
    font-size: 20px;
  }
  .faq-answer {
    font-weight: 300;
    margin-top: 15px;
  }
  .icon {
    max-width: 20px;
    float: right;
    position: relative;
    margin-top: -20px;
  }
  @media (min-width: 750px) {
    max-width: 500px;
    .logo {
      max-width: 177px;
      margin-top: 5px;
      margin-left: -307px;
    }

  }
  @media (min-width: 1080px) {
    max-width: 800px;
    .logo {
      margin-top: 5px;
      margin-left: -471px;
    }
  }

}
