.pillar-a {
  -webkit-animation: float-a 12s infinite;
}
.pillar-b {
  -webkit-animation: float-b 17s infinite;
}
.pillar-c {
  -webkit-animation: float-c 22s infinite;
}

@keyframes float-a {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-3px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes float-b {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(3px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes float-c {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-7px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.cls-1 {
  isolation: isolate;
}

.cls-2, .cls-33 {
  opacity: 0.2;
}

.cls-2 {
  mix-blend-mode: screen;
}

.cls-3 {
  fill: url(#linear-gradient);
}

.cls-4 {
  fill: #1c7793;
}

.cls-5 {
  fill: #43bba9;
}

.cls-6 {
  fill: #f9f9f9;
}

.cls-7 {
  fill: #e5e5e4;
}

.cls-8 {
  fill: #e9e8e8;
}

.cls-9 {
  fill: #d9d1ce;
}

.cls-10 {
  fill: #a26b3b;
}

.cls-11 {
  fill: #bb8758;
}

.cls-12, .cls-24 {
  fill: #a26b3f;
}

.cls-13 {
  fill: #b17f56;
}

.cls-14 {
  fill: #a06b42;
}

.cls-15 {
  fill: #b17f53;
}

.cls-16 {
  fill: #bc8759;
}

.cls-17 {
  fill: #4ec2c2;
}

.cls-18 {
  fill: #e0416d;
}

.cls-19 {
  opacity: 0.71;
}

.cls-20 {
  fill: #a7d392;
}

.cls-21 {
  fill: #d2cbc9;
}

.cls-22 {
  fill: #b4aca9;
}

.cls-23 {
  fill: #dad6d1;
}

.cls-24 {
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 0.13px;
}

.cls-25 {
  fill: #fff;
}

.cls-26 {
  fill: #faf297;
}

.cls-27 {
  fill: url(#linear-gradient-2);
}

.cls-28 {
  fill: url(#linear-gradient-3);
}

.cls-29 {
  fill: #f6f8fa;
}

.cls-30 {
  fill: #d1dae1;
}

.cls-31 {
  fill: #a6b4bf;
}

.cls-32 {
  fill: #d2dbe3;
}

.cls-33 {
  mix-blend-mode: multiply;
}

.cls-34 {
  fill: #a6b4be;
}

.cls-35 {
  fill: #a6b4bd;
}

.cls-36 {
  fill: #aec7cd;
}

.cls-37 {
  fill: #5b7699;
}

.cls-38 {
  fill: #372e40;
}

.cls-39 {
  fill: #3d2f8b;
}

.cls-40 {
  fill: #39144d;
}

.cls-41 {
  fill: url(#linear-gradient-4);
}

.cls-42 {
  fill: #96663a;
}

.cls-43 {
  fill: #ca9d64;
}

.cls-44 {
  fill: #563013;
}

.cls-45 {
  fill: #95663e;
}

.cls-46 {
  fill: #5b7499;
}

.cls-47 {
  fill: #372e42;
}

.cls-48 {
  fill: #e9f0f0;
}

.cls-49 {
  fill: #6985a9;
}
