@import "vars";
.s {
  text-align: center;
  background: rgba(25,42,80,1);
  background: -moz-linear-gradient(-45deg, rgba(25,42,80,1) 0%, rgba(55,40,105,1) 34%, rgba(238,42,124,1) 69%, rgba(246,149,129,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(25,42,80,1)), color-stop(34%, rgba(55,40,105,1)), color-stop(69%, rgba(238,42,124,1)), color-stop(100%, rgba(246,149,129,1)));
  background: -webkit-linear-gradient(-45deg, rgba(25,42,80,1) 0%, rgba(55,40,105,1) 34%, rgba(238,42,124,1) 69%, rgba(246,149,129,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(25,42,80,1) 0%, rgba(55,40,105,1) 34%, rgba(238,42,124,1) 69%, rgba(246,149,129,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(25,42,80,1) 0%, rgba(55,40,105,1) 34%, rgba(238,42,124,1) 69%, rgba(246,149,129,1) 100%);
  background: linear-gradient(135deg, rgba(25,42,80,1) 0%, rgba(55,40,105,1) 34%, rgba(238,42,124,1) 69%, rgba(246,149,129,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192a50', endColorstr='#f69581', GradientType=1 );
  padding: 50px 5%;
  color: white;
  .info {
    text-align: left;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    h1 {
      font-family: $font-title;
      font-weight: lighter;
    }
    h2 {
      font-family: $font-body;
      text-align: center;
      font-weight: lighter;
    }
    p {
      font-weight: lighter;
      font-size: 18px;
    }
    a {
      text-decoration: none;
      color: $pink;
    }
  }
  .logo {
    box-shadow: 0px 20px 16px -1px rgba(0,0,0,.1);
    vertical-align: middle;
    margin: 20px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 50%;
    background-size: 160px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .logo:nth-child(1) {
    background-image: url('../assets/images/sponsors/bloomberg.svg');
  }
  .logo:nth-child(2) {
    background-image: url('../assets/images/sponsors/capital_one.svg');
  }
  .logo:nth-child(3) {
    background-image: url('../assets/images/sponsors/General_Electric.svg');
  }
  .logo:nth-child(4) {
    background-image: url('../assets/images/sponsors/Liberty_Mutual.svg');
  }
  .logo:nth-child(5) {
    background-size: 110px;
    background-image: url('../assets/images/sponsors/mixmax.svg');
  }
  .logo:nth-child(6) {
    background-image: url('../assets/images/sponsors/MongoDB.png');
  }
  .logo:nth-child(7) {
    background-image: url('../assets/images/sponsors/clarity_partners.svg');
  }
  .logo:nth-child(8) {
    background-image: url('../assets/images/sponsors/Qualcomm.svg');
  }
  .logo:nth-child(9) {
    background-image: url('../assets/images/sponsors/Rockwell_Collins.svg');
  }
  .logo:nth-child(10) {
    background-image: url('../assets/images/sponsors/techpoint.png');
  }
  .cs {
    height: 100px;
    width: 100px;
    background-size: 70px;
    background-image: url('../assets/images/sponsors/purduecs.svg');
  }
  @media (max-width: 605px) {
    padding: 50px 20px;
    .logo {
      width: 100px;
      height: 100px;
      background-size: 75px;
    }
    .logo:nth-child(5) {
      background-size: 50px;
    }
  }
}
