@mixin max-width {
  max-width: 1180px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@mixin dark-header {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0;
  background: #333333;
  z-index: -1;
  box-shadow: 0 0px 20px rgba(0,0,0,0.3);
}
// Fonts
$font-body: 'Helvetica Neue', Arial, -apple-system,BlinkMacSystemFont,"Segoe UI","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", sans-serif;

// Colors
$light_yellow: #FFEE4F;
$medium_yellow: #F8E001;
$dark_yellow: #E1CB00;

$light_orange: #FF9D5B;
$medium_orange: #F36100;
$dark_orange: #CF5300;

$light_purple: #E1B1FE;
$medium_purple: #C35FFE;
$dark_purple: #A846E2;

$light_blue: #80E3FF;
$medium_blue: #14CAFE;
$dark_blue: #1CA5CC;

$light_green: #6BF1CC;
$medium_green: #26C99C;
$dark_green: #1AAC84;

$light_mono: #fcfcfc;
$medium_mono: #C3C3C3;
$dark_mono: #000000;

// Spacing
$spacing_25: 4px;
$spacing_50: 8px;
$spacing_75: 12px;
$spacing_100: 16px;
$spacing_125: 20px;
$spacing_150: 24px;
$spacing_175: 28px;
$spacing_200: 32px;
