@mixin max-width {
  max-width: 1180px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

// Colors
$light_yellow: #FFEE4F;
$medium_yellow: #F8E001;
$dark_yellow: #E1CB00;

$light_orange: #FF9D5B;
$medium_orange: #F36100;
$dark_orange: #CF5300;

$light_purple: #E1B1FE;
$medium_purple: #C35FFE;
$dark_purple: #A846E2;

$light_blue: #80E3FF;
$medium_blue: #14CAFE;
$dark_blue: #1CA5CC;

$light_green: #6BF1CC;
$medium_green: #26C99C;
$dark_green: #1AAC84;

$light_mono: #fcfcfc;
$medium_mono: #C3C3C3;
$dark_mono: #000000;
