body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  $logo: 100px;
  animation: App-logo-spin infinite 5s linear;
  display:inline-block;
  width: $logo;
  height: $logo;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}