html, body {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  background-color: #e54b40;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(#e54b40, #695477);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: #e54b40;
  background: linear-gradient(#e54b40, #695477);
  height: 100%;
}
.bodyPad {
  margin-top: 85px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.15;
  width: 100%;
  background-color: #594269;
  background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
}
.homepage-well {
  background-color: #f9f9f9;
  opacity: 0.9;
  color: #333333;
  border-radius: 15px;
  padding: 25px;
  height: 70vh;
  overflow-y: scroll;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}
.homepage-well__title {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 15px 0 0 0;
  color: #594269;
  font-family: 'Exo 2', sans-serif;

}
.CheckInList {
  //margin-left:auto;
  //margin-right:auto;
  width:800px;
}
.CheckInListItem {
  width: 800px;
  border-color: #6171f7;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
h1 {
  color: #f9f9f9;
  text-align: center;
  font-size: 3em;
  padding: 15px 0;
  font-weight: 700;
}
h4 {
  text-align: center;
}
h3 {
 // color: #594269;
  text-decoration: underline;
  font-size: 1.3em;
  font-family: 'Exo 2', sans-serif;
}
h3.active {
  color: #B32F23;
}
a {
  color: #833DB6;
  text-decoration: underline;
}
a:hover {
  color: #B2B2B2;
}
ul {
  margin: 0;
  padding: 0 25px;
}
li {
  line-height: 1.6em;
  margin-bottom: 10px;
}
li.important {
  color: #B32F23;
}
.timedate {
  color: #B2B2B2;
  font-style: italic;
  font-size: 0.8em;
}
.events .event {
  padding: 8px 0;
}
.events .event .time {
  font-weight: 600;
  color: #B2B2B2;
  margin-bottom: 5px;
  font-size: 0.9em;
}
.events .event .title {
  padding-left: 15px;
  color: #333333;
  margin-bottom: 5px;
}
hr {
  margin: 15px 0 !important;
}


.checkInButton {
  transition-duration: 0.2s;
  margin: 2px;
  border: 2px solid #4FA5FC;
  background: #4FA5FC;
  border-radius: 1px;
  color: white;
  height: 25px;
  width: 100px;
  font-size: 14px;
  font-weight:100;
  text-transform:uppercase;
}

.checkInButton:hover {
  background: rgba(2, 13, 126, 0.65);
}
.checkInButton:active {
  background: rgba(66, 111, 247, 0.47);
}
.checkInButton:disabled {
  background: #58191b;
  color: grey;
}


@media (max-width: 640px)
{
  .homepageDesktop
  {
    display: none;
  }
}

@media (min-width: 640px)
{
  .homepageMobile
  {
    display: none;
  }
}

