html, body {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  background-color: #BC362E;
  padding-top: 50px;

}
.homepage-well {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 5px;
  height: 80vh;
  overflow: scroll;
  margin: 5px;
}
.homepage-well__title {
  font-size: 16pt;
  text-align: center;
}
