html, body {
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  background-color: #BC362E;
  padding-top: 40px;

}
.homepage-well {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 5px;
  height: 80vh;
  overflow: scroll;
  margin: 5px;
}
.homepage-well__title {
  font-size: 16pt;
  text-align: center;
}
.CheckInList {
  //margin-left:auto;
  //margin-right:auto;
  width:800px;
}
.CheckInListItem {
  width: 800px;
  border-color: #6171f7;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
