@import '../../assets/tools.scss';

.p-nav {
  background: $light_mono;
  color: $dark_mono;
  position: relative;
  z-index: 100;
  height: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.p-nav_content {
  @include max-width;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 100;
}

.p-nav__logo {
  height: 40px;
  width: auto;
}

.p-nav__logo--hammers {
  height: 100%;
  width: auto;
}

.p-nav__nav_links--mobile {
	display: none;
	margin: 0 10px 5px;
	font-family: $font_body;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4px;
  text-decoration: none;
	color: $dark_mono;
}

.p-nav__dropdown_mobile {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	// border: 1px solid $dark_mono;
	// padding: 8px;
	// border-radius: 4px;
  box-sizing: border-box;
  font-size: 40px;
}

.p-nav__dropdown_mobile--content {
	position: absolute;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	padding: 0 12px;
	top: 50px;
	left: 0;
  box-sizing: border-box;
}

.p-nav__dropdown--account {
	margin: 20px 0;

	.p-nav__dropdown_link {
		display: inline;
	}

	.p-nav__dropdown_link--apply {
		display: inline;
    // margin: 0 20px 0 0;
    margin-bottom: 0;
		color: #000;
		// border: 1px solid #000;
		// padding: 8px;
		// border-radius: 4px;
    box-sizing: border-box;
	}
}

.p-nav__nav_links {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.p-nav__nav_link {
  margin: 0 10px;
	font-family: Futura;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4px;
  text-decoration: none;
	color: $dark_mono;
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: $dark_mono;
    transition: .1s;
  }

  &:hover {
    cursor: pointer;
    font-weight: bolder;

    &:after {
      content: ' ';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $dark_mono;
      transition: .1s;
    }
  }
}

.p-nav__dropdown {
	position: relative;
	display: inline-block;
}

.p-nav__dropdown_content {
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border: 1px solid #e8e8e8;
	border-radius: 4px;
  box-sizing: border-box;
}

.p-nav__dropdown:hover .p-nav__dropdown_content {
	display: block;
}

.p-nav__dropdown_link {
	display: block;
	padding: $spacing_75;
	font-family: Futura;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.4px;
  text-decoration: none;
	color: $dark_mono;
  border-bottom: 2px solid $light_mono;

  &:hover {
    border-bottom: 2px solid $medium_mono;
  }
}

.p-nav__nav_link--apply {
  &:hover:after {
    width: 0px;
    height: 0px;
  }
	// border: 1px solid $dark_mono;
	// padding: 8px;
	// border-radius: 4px;
}

.p-nav__mlh-badge {
  width: 120px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 12px;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);

}

@media screen and (max-width: 600px) {
	.p-nav__nav_links--mobile {
		display: inline;
	}

	.p-nav__nav_links {
		display: none;
	}

  .p-nav__mlh-badge {
    width: 100px;
  }
}
